<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <style>
          table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
          }

          td, th {
              border: 1px solid #eee;
              text-align: left;
              padding: 8px;
          }

          tr:nth-child(even) {
              background-color: #eee;
          }
        </style>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <%
        ISODateString = function(d) {
          function pad(n) {return n<10 ? '0'+n : n}
          return d.getUTCFullYear()+'-'
               + pad(d.getUTCMonth()+1)+'-'
               + pad(d.getUTCDate())+'T'
               + pad(d.getUTCHours())+':'
               + pad(d.getUTCMinutes())+':'
               + pad(d.getUTCSeconds())+'Z'
        }
        %>
        <table style="width:50%">
          <tr>
            <th>updated at</th>
            <th>user</th>
            <th>working on</th>
            <th>actions</th>
          </tr>
          <% messages.forEach(function(message){ %>
            <tr>
              <td><time class="timeago" datetime=<%= ISODateString(new Date(message.updated_at)) %> ><%= message.updated_at %></time></td>
              <td><%= message.user_name %></td>
              <td><%= message.message %></td>
              <td>
                <form action="https://slack.com/api/chat.postMessage"
                      method="post"
                      accept-charset="UTF-8"
                      enctype="application/x-www-form-urlencoded">
                  <input type="hidden" name="token" value="xoxp-8337250805-8336954500-58800416805-fb073eb78c">
                  <input type="hidden" name="channel" value=<%= "@" + message.user_name %>>
                  <input type="hidden" name="text" value="llevas mucho tiempo sin actualizar tu chamba! usa /chambeando y actualiza.">
                  <input type="hidden" name="user_name" value="chambeandoBOT">
                  <input type="submit" value="Poke">
                </form>

              </td>
            </tr>
          <%});%>
        </table>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"
                integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
                crossorigin="anonymous"></script>
        <script src="/static/jquery.timeago.js" type="text/javascript"></script>
        <script type="text/javascript">
        jQuery(document).ready(function() {
          jQuery("time.timeago").timeago();
        });
        </script>
    </body>
</html>
